  /*
  Google Maps
  */
         #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #mapLeaflet {
            height: 100%;
        }

        /*
        Open Layers 
        */
        #mapOpenLayers{
            height: 400px;
            width: 100%;
            
        }